#administrator-form {
	width: 100%;
	margin:0 auto;
}

#administrator-form-menu {
	float: left;
}

#admin-upload-form {
	width: 450px;
	background-color: #FFFFFF;
	background-image : url('../images/kazakhstan_map.gif');
	background-repeat: no-repeat; 
	
	padding: 5px;
	
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	
	border-style: solid;
	border-width: 4px;
	border-color: #FFFFFF;
}

#admin-photo-list {
	width: 450px;
	background-color: #FFFFFF;
	background-image : url('../images/kazakhstan_map.gif');
	background-repeat: no-repeat; 
	
	padding: 5px;
	margin-top: 10px;
	
	border-style: solid;
	border-width: 4px;
	border-color: #FFFFFF;

	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	
	cursor: pointer;
}

#admin-notification {
	width: 450px;
	
	background-color: #FFFFFF;
	background-image : url('../images/kazakhstan_map.gif');
	background-repeat: no-repeat; 
	
	padding: 5px;
	margin-top: 30px;
	
	border-style: solid;
	border-width: 4px;
	border-color: #FFFFFF;
	
	position: relative;
	z-index: 100;
}

#administrator-content-list-photo {
	float:left;
	
	width: 200px;
	height: 150px;
	
	text-align: center;
	background-color: #000000;
	margin: 14px;

	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	
	cursor: pointer;
}

#admin-update-account {
	width: 450px;
	background-color: #FFFFFF;
	background-image : url('../images/kazakhstan_map.gif');
	background-repeat: no-repeat; 
	
	padding: 5px;
	margin-top: 10px;
	
	border-style: solid;
	border-width: 4px;
	border-color: #FFFFFF;
	
	opacity: 0.6;
}

#admin-application-tag {
	width: 450px;
	background-color: #FFFFFF;
	background-image : url('../images/kazakhstan_map.gif');
	background-repeat: no-repeat; 
	
	padding: 5px;
	margin-top: 50px;
	border-style: solid;
	border-width: 4px;
	border-color: #FFFFFF;
	
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}

#administrator-content {
	float: left;
}

#administrator-content-main {
	width: 700px;

	float:left;
	
	box-shadow: 0px 4px 8px #000000;
	-moz-box-shadow: 0px 4px 8px #000000;
	-webkit-box-shadow: 0px 4px 8px #000000;
	
	margin-top: -50px;
	margin-bottom: 10px;
}

.administrator-content-main-border {
	background-color: #FFFFFF;
	padding: 15px;
}

#administrator-content-add-new-photo-img {
	text-align: center;
	background-color: #000000;
	padding: 10px;
}

#administrator-content-add-new-photo-form {
	background-image : url('../images/kazakhstan_map.gif');
	background-repeat: no-repeat;
	text-align: left;
	margin-bottom: 40px;
}

#administrator-content-add-new-photo-form-input-tags {
	margin-top: 20px;
	background-color: #000000;
	width: 360px;
}

.add-new-tag {
	margin: 5px;
	padding: 5px;
	float: left;
	cursor: pointer;

	background-color: #FFFFFF;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  -webkit-box-shadow: 0px 0px 5px rgb(0, 175, 202);
	-moz-box-shadow: 0px 0px 5px rgb(0, 175, 202);
	box-shadow: 0px 0px 5px rgb(0, 175, 202);
}

.admin-tag-already-exists {
	margin: 5px;
	padding: 5px;
	float: left;
	cursor: pointer;

	background-color: #FFFFFF;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  -webkit-box-shadow: 0px 0px 5px rgb(250, 199, 19);
	-moz-box-shadow: 0px 0px 5px rgb(250, 199, 19);
	box-shadow: 0px 0px 5px rgb(250, 199, 19);
}

.admin-upload-form-photo-details {
	display: none;
	background-color: #FFFFFF;
	padding-top: 5px;
	font-size: 12px;
	color: rgb(0, 175, 202);
	font-weight: bold;
	
	clear: both;
}

#admin-upload-form-photo-details-upload {
	display: none;
	padding-top: 15px;
	font-size: 12px;
	color: rgb(0, 175, 202);
	font-weight: bold;
	background-color: #FFFFFF;
	
	clear: both;
}

#admin-upload-form-photo-details-upload-error {
	display: none;
	padding-top: 15px;
	font-size: 12px;
	color: red;
	font-weight: bold;
	background-color: #FFFFFF;
	
	clear: both;
}

#administrator-content-main-notification-create {
	text-align: left;
	margin-top: 10px;
}

.administrator-content-main-text-preview-html {
	padding: 10px;
	
	border-style: dashed;
	border-width: 1px;
	border-color: #000000;
	
	background-color: #F2F2F2;
}

.notification-list-float {
	float: left;
}

.notification-list-separator {
	clear: both;
	padding-top: 10px;
}

.notification-list-checkbox {
	width: 25px;
}

.notification-list-id {
	width: 15px;
}

.notification-list-date {
	margin-left: 2px;
}

.notification-list-message {
	padding-top: 10px;
	text-align: justify;
	clear: both;
}

.notification-list-header {
	font-weight: bold;
}

.notification-list-el {
	padding: 10px 0px 10px 0px;

	border-color: rgb(0, 175, 202);	
	border-style: dashed;
	border-width: 0px 0px 1px 0px;
}

#notification-create-alarm-form {
	background-color: #FFFFFF;
	background-image : url('../images/kazakhstan_map.gif');
	background-repeat: no-repeat; 

	margin-top: 15px;	
	padding: 5px;
	
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	
	border-style: solid;
	border-width: 4px;
	border-color: #FFFFFF;
	
	box-shadow: 0px 4px 8px #000000;
	-moz-box-shadow: 0px 4px 8px #000000;
	-webkit-box-shadow: 0px 4px 8px #000000;	
}

#admin-notification-title {
	cursor: pointer;
}

.administrator-notififcation-display-message {
	padding: 10px;
}

.administrator-notififcation-display-message-preview {
	margin-top: 5px;
	padding: 10px;
	
	border-style: dashed;
	border-width: 1px;
	border-color: #000000;
	
	background-color: #F2F2F2;
}

.notification-list-el-message-delete {
	color: red;
	cursor: pointer;
	font-weight: bold;
}

.notification-list-el-message-delete:hover {
	text-decoration: underline;
}