@(title: String, feedback: Feedback, user: UserTemplate, tags: Seq[String])(content: Html)

@* NOTE this import is required to be able to use the @form tags below*@
@import helper._

@main(title, feedback, user) {

	<div id="administrator-form">
		
		<div id="administrator-form-menu">
		
			<div id="admin-upload-form">
				@form(action = routes.Administrator.upload, 'enctype -> "multipart/form-data") {
				    <p><input type="file" id="photos" multiple="multiple" onchange="fileSelected()"; /></p>
				
						<div class="admin-upload-form-photo-details" id="admin-upload-form-photo-count">
							@Messages("page.admin.form.upload.field.count")(Lang("fr")) <span id="admin-upload-form-count-photo-value">0</span>
						</div>
						<div class="admin-upload-form-photo-details" id="admin-upload-form-photo-size">
							@Messages("page.admin.form.upload.field.size")(Lang("fr")) <span id="admin-upload-form-size-photo-value">0MB</span>
						</div>
				
						<div id="admin-upload-form-photo-details-upload">
							@Messages("page.admin.form.upload.field.percent")(Lang("fr")) <span id="admin-upload-form-photo-progress-number">0%</span>
						</div>
						<div id="admin-upload-form-photo-details-upload-error">@Messages("page.admin.form.upload.failed")(Lang("fr"))</div>
						
				    <p><input type="button" onclick="uploadFile()" value="@Messages("page.admin.form.upload.submit")(Lang("fr"))" /></p>
				}
				<div id="form-title">@Messages("page.admin.form.upload.title")(Lang("fr"))</div>
			</div>
			
			<div id="admin-photo-list">
				<div id="form-title">@Messages("page.admin.show.photo.title")(Lang("fr"))</div>
			</div>
			
			<div id="admin-update-account">
				<div id="form-title">@Messages("page.admin.update.admin.password.title")(Lang("fr"))</div>
			</div>

			<div id="admin-application-tag">
				@for(tag <- tags) {
					<div class="admin-tag-already-exists">@tag</div>
				}
				<div id="form-title">@Html(Messages("page.admin.tag.already.exists.title")(Lang("fr")))</div>
			</div>
			
		</div>
		
		<div id="administrator-content">
			@content
		</div>

	</div>
}