@(form: Form[(String, String)], title: String)

@main(title, null, null) {
    
	<div id="main">
	
		<div id="form">
			
			@helper.form(routes.Application.createAdministrator) {
	    	<p><input type="text" name="login" value="@form("login").value" id="login" readonly="readonly"></p>
	    	<p><input type="password" name="password" id="password" placeholder="Mot de passe"></p>
	    
	    	<p><button type="submit" >Créer le compte administrateur</button></p>
	    }
		    
			<div id="form-error">
				@form.globalError.map { error =>
        	@error.message
        }
			 </div>
				  
			<div id="form-title">Configuration de l'application</div>
			
	   </div>
	   
	</div>
}