@(title: String, feedback: Feedback, user: UserTemplate, tags: Seq[String], photos: Seq[Photo], page: Int, byTags: String, count: Long, notifications: Seq[NotificationMessage])(implicit flash: play.api.mvc.Flash)

@random() = @{
	val rnd = new scala.util.Random
	val range = -3 to 3
	range(rnd.nextInt(range length))
}

@titleFormat(title: String) = @{
	if (title.length == 25) {
		title + " ..."
	} else {
		title
	}
}

@stringFormat(value: String) = @{
 value.replace("'", "\\'")
}

@optionStringFormat(description: Option[String]) = @{
  if (description.isDefined) {
	  description.get.replace("'", "\\'").replace("\n", "").replace("\r", "")
  } else {
    ""
  }
}

@previousPage(page: Int) = @{ page - 1 }
@nextPage(page: Int) = @{ page + 1 }

@compute(photos: Seq[Photo]) = @{ 15 - photos.length }

@import org.joda.time.DateTime
@isNowDateTime(startDate: DateTime, endDate: DateTime) = @{
	startDate.isBeforeNow() && endDate.isAfterNow()
}

@isNotifyPopup(notifications: Seq[NotificationMessage], connection: Option[String]) = @{
	var display = "none"
	for(notification <- notifications) {
		if(isNowDateTime(notification.notification.startDate, notification.notification.endDate)){
			display = "display"
		}
	}
	
	if (connection.isDefined) {
		if (connection.get != "success") {
			display = "none"
		}
	} else {
		display = "none"
	}
	
	display
}

@main(title, feedback, user) {

	<div id="index-application">
			
			<div id="index-application-notification-@isNotifyPopup(notifications, flash.get("connection"))">
				@for(notification <- notifications) {
					<div id="index-application-notification-content">
						<div id="index-application-notification-content-messages">
							<div class="slides_container">
									@if(isNowDateTime(notification.notification.startDate, notification.notification.endDate)){
										@for(message <- notification.messages) {
											<div id="index-application-notification-content-message">@Html(message.message)</div>	
										}
									}
							</div>
						</div>
					</div>
					
					<div id="index-application-notification-header">
						<div id="index-application-notification-header-title">@Html(Messages("page.index.notification.title.html")(Lang("fr")))</div>
						<div id="index-application-notification-header-close">
							<span onclick="closeNotification('@notification.notification.id');"style="font-style:normal;">@Messages("page.index.notification.title.close")(Lang("fr"))</span>
							&nbsp;&nbsp;(&nbsp;<input type="checkbox" id="index-application-notification-header-close-check" checked>@Messages("page.index.notification.title.checkbox")(Lang("fr"))&nbsp;)
						</div>
					</div>					

					<script type="text/javascript">
	    				$(function(){
	                $('#index-application-notification-content-messages').slides({
										play: 15000,
										hoverPause: true,
										autoHeight: true,
										bigTarget: true
								});
	            });
						</script>
					}
			</div>
	
			<div id="index-application-photos-menu">
				<div id="index-application-photos-menu-content">
					<div class="index-application-photos-menu-content-tool">
						<a href="/album/page/@previousPage(page)/tags/@byTags" />@Messages("page.index.previous.page.label")(Lang("fr"))</a>
					</div>
					<div class="index-application-photos-menu-content-tool">
						<a href="/album/page/@nextPage(page)/tags/@byTags" />@Messages("page.index.next.page.label")(Lang("fr"))</a>
					</div>
					<div id="index-application-page-number">@Messages("page.index.number.page.label")(Lang("fr")) <span id="index-application-page-number-value">@page</span> / @count</div>
				</div>
			</div>
			
			<div id="index-application-content">
							
				<div id="index-application-photos">
					@for(photo <- photos) {
							<div id="index-application-photo" class="rotate-deg-minus@random" onclick="fadeInPhoto(@photo.id, '@photo.filename', '@stringFormat(photo.title)', '@optionStringFormat(photo.description)', '@byTags');">
								
								<div id="index-application-photo-img">
									<img src="/album/get/thumbnail/photo/@photo.filename" />
								</div>
								<div id="index-application-photo-title">@titleFormat(photo.title)</div>
							
							</div>
						}
						@for(i <- 1 to compute(photos)) {
							<div id="index-application-photo" class="rotate-deg-minus@random" ">
								<div id="index-application-photo-img">
									<img src="@routes.Assets.at("images/nophotox200x150.png")" />
								</div>
								<div id="index-application-photo-title">@Messages("page.index.no.photo.label")(Lang("fr"))</div>
							</div>
						}
					</div>
					
			</div>
			
			<div id="index-application-tag">
				@for(tag <- tags) {
					<div class="index-tag-already-exists">@tag</div>
				}
				<div id="index-tag-search-title"><a id="index-tag-search-title-href" href="/album/page/@page/tags/all" />@Messages("page.index.search.by.tag.title")(Lang("fr"))</a></div>
				<div id="index-tag-search-title-explication">@Messages("page.index.search.by.tag.explication")(Lang("fr"))</div>
			</div>
			
	</div>
}