@(title: String, feedback: Feedback, user: UserTemplate, tags: Seq[String], medias: Seq[Media], numberCommentsByMedia: Map[Long, Long], page: Int, byTags: String, count: Long, notifications: Seq[models.notification.NotificationMessage])(implicit flash: play.api.mvc.Flash)

@random() = @{
	val rnd = new scala.util.Random
	val range = -3 to 3
	range(rnd.nextInt(range length))
}

@titleFormat(title: String) = @{
	if (title.length > 25) {
		title.substring(0, 25) + " ..."
	} else {
		title
	}
}

@stringFormat(value: String) = @{
 value.replace("'", "\\'")
}

@optionStringFormat(description: Option[String]) = @{
  if (description.isDefined) {
	  description.get.replace("'", "\\'").replace("\n", "").replace("\r", "")
  } else {
    ""
  }
}

@previousPage(page: Int) = @{ page - 1 }
@nextPage(page: Int) = @{ page + 1 }

@compute(medias: Seq[Media]) = @{ 15 - medias.length }

@import org.joda.time.DateTime
@isNowDateTime(startDate: DateTime, endDate: DateTime) = @{
	startDate.isBeforeNow() && endDate.isAfterNow()
}

@isNotifyPopup(notifications: Seq[models.notification.NotificationMessage], connection: Option[String]) = @{
	var display = "none"
	for(notification <- notifications) {
		if(isNowDateTime(notification.notification.startDate, notification.notification.endDate)){
			display = "display"
		}
	}
	
	if (connection.isDefined) {
		if (connection.get != "success") {
			display = "none"
		}
	} else {
		display = "none"
	}
	
	display
}

@returnCommentViewUrl(medias: Seq[Media], page: Int, byTags: String) = @{
  if (!medias.isEmpty) {
  	val mediaId = medias.head.id
  	"/album/get/media/" + mediaId + "/post/page/" + page + "/tags/" + byTags	
  } else {
	"/album"
  }
}

@getMediaCommentsNumber(numberCommentsByMedia: Map[Long, Long], mediaId: Long) = @{
  val number = numberCommentsByMedia.get(mediaId)
  if (number.get > 0) {
    number.get
  } else {
    ""
  }
}

@main(title, feedback, user) {

	<div id="index-application">
			
			<div id="index-application-notification-@isNotifyPopup(notifications, flash.get("connection"))">
				@for(notification <- notifications) {
					<div id="index-application-notification-content">
						<div id="index-application-notification-content-messages">
							<div class="slides_container">
									@if(isNowDateTime(notification.notification.startDate, notification.notification.endDate)){
										@for(message <- notification.messages) {
											<div id="index-application-notification-content-message">@Html(message.message)</div>	
										}
									}
							</div>
						</div>
					</div>
					
					<div id="index-application-notification-header">
						<div id="index-application-notification-header-title">@Html(Messages("page.index.notification.title.html")(Lang("fr")))</div>
						<div id="index-application-notification-header-close">
							<span onclick="closeNotification('@notification.notification.id');"style="font-style:normal;">@Messages("page.index.notification.title.close")(Lang("fr"))</span>
							&nbsp;&nbsp;(&nbsp;<input type="checkbox" id="index-application-notification-header-close-check" checked>@Messages("page.index.notification.title.checkbox")(Lang("fr"))&nbsp;)
						</div>
					</div>					

					<script type="text/javascript">
	    				$(function(){
	                $('#index-application-notification-content-messages').slides({
										play: 15000,
										hoverPause: true,
										autoHeight: true,
										bigTarget: true
								});
	            });
						</script>
					}
			</div>
	
			<div id="index-application-photos-menu">
				<div id="index-application-photos-menu-content">
					<div class="index-application-photos-menu-content-tool">
						@if(page == 1){
							<span>@Messages("page.index.previous.page.label")(Lang("fr"))</span>
						} else {
							<a href="/album/page/@previousPage(page)/tags/@byTags">@Messages("page.index.previous.page.label")(Lang("fr"))</a>
						}
					</div>
					<div class="index-application-photos-menu-content-tool">
						@if(page == count){
							<span>@Messages("page.index.next.page.label")(Lang("fr"))</span>
						} else {
							<a href="/album/page/@nextPage(page)/tags/@byTags">@Messages("page.index.next.page.label")(Lang("fr"))</a>
						}
					</div>
					<div id="index-application-page-number">@Messages("page.index.number.page.label")(Lang("fr")) <span id="index-application-page-number-value">@page</span> / @count</div>
					<div id="index-application-page-comment-view">
						<a href="@returnCommentViewUrl(medias, page, byTags)">
							<img class="index-application-page-comment-view-img cursorpointer" src="@routes.Assets.at("images/iconmonstr/details-large-view-icon-white.x20.png")" title="@Messages("page.index.media.comment.view")(Lang("fr"))" alt="media" />
						</a>
					</div>
					<div id="index-application-page-refresh">
						<a href="/album">
							<img class="index-application-page-refresh-view cursorpointer" src="@routes.Assets.at("images/iconmonstr/refresh-5-icon-white.x20.png")" title="@Messages("app.global.icon.refresh.title")(Lang("fr"))" alt="media" />
						</a>
					</div>
				</div>
			</div>
			
			<div id="index-application-content">
							
				<div id="index-application-photos">
					@for(media <- medias) {
							
							<div class="index-application-photo rotate-deg-minus@random">							
								<div class="index-application-media-img">
									@if(media.mediaType.label == "photo"){
										<img src="/album/get/thumbnail/photo/@media.filename" alt="media" onclick="fadeInPhoto(@media.id, '@media.filename', '@media.mediaType.label', '@stringFormat(media.title)', '@optionStringFormat(media.description)', '@byTags', '@medias.head.id', '@medias.last.id');" />
									} else {
										<video width="200" height="150" controls="controls" src="/album/get/media/video/standard/@media.filename" />
									}
								</div>
								
								<div class="index-application-photo-title">
									@titleFormat(media.title)
									<div class="index-application-photo-title-view">
										<div class="index-application-photo-title-view-span">
											<span>@getMediaCommentsNumber(numberCommentsByMedia, media.id.get)</span>
										</div>
										<div class="index-application-photo-title-view-img">
											<img class="index-application-photo-title-view-full-screen cursorpointer" src="@routes.Assets.at("images/iconmonstr/iconmonstr-eye-3-icon.x20.png")" title="@Messages("page.index.media.full.screen")(Lang("fr"))" alt="media" onclick="fadeInPhoto(@media.id, '@media.filename', '@media.mediaType.label', '@stringFormat(media.title)', '@optionStringFormat(media.description)', '@byTags', '@medias.head.id', '@medias.last.id');" />
											<a href="/album/get/media/@media.id/post/page/@page/tags/@byTags">
												<img class="index-application-photo-title-view-post cursorpointer" src="@routes.Assets.at("images/iconmonstr/iconmonstr-details-large-view-icon.x20.png")" title="@Messages("page.index.media.post")(Lang("fr"))" alt="media" />
											</a>
										</div>	
									</div>
								</div>	
							
							</div>
						}
						@for(i <- 1 to compute(medias)) {
							<div class="index-application-photo rotate-deg-minus@random" ">
								<div class="index-application-media-img">
									<img src="@routes.Assets.at("images/nophotox200x150.png")" alt="media" />
								</div>
								<div class="index-application-photo-title">
									@Messages("page.index.no.photo.label")(Lang("fr"))
									<div class="index-application-photo-title-view">
										<img src="@routes.Assets.at("images/iconmonstr/details-large-view-icon-white.x20.png")" alt="media" />
									</div>
								</div>
							</div>
						}
					</div>
					
			</div>
			
			<div id="index-application-tag">
				@for(tag <- tags) {
					<div class="index-tag-already-exists">@tag</div>
				}
				<div id="index-tag-search-title"><a id="index-tag-search-title-href" href="/album/page/@page/tags/all">@Messages("page.index.search.by.tag.title")(Lang("fr"))</a></div>
				<div id="index-tag-search-title-explication">@Messages("page.index.search.by.tag.explication")(Lang("fr"))</div>
			</div>
			
	</div>
}