body {
	margin: 0px;
	font-family: Arial;
	height: 100%;
	background-color: rgb(250, 199, 19);
	font-size: 12px;
}

.clearboth {
	clear: both;
}

.cursorpointer {
	cursor: pointer;
}

.displaynone {
	display: none;
}

button {  
	padding: 5px;  
  	font-size: 15px;  
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
 	border: 1px solid rgb(0, 175, 202);
  	cursor: pointer;
}

input:focus {  
	-webkit-box-shadow: 0px 0px 5px rgb(250, 199, 19);
	-moz-box-shadow: 0px 0px 5px rgb(250, 199, 19);
	box-shadow: 0px 0px 5px rgb(250, 199, 19);
}

input, textarea {  
	padding: 5px;  
  	font-size: 15px;  
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	border: 1px solid rgb(0, 175, 202);  
}  

input:focus, textarea:focus {  
	-webkit-box-shadow: 0px 0px 5px rgb(250, 199, 19);
	-moz-box-shadow: 0px 0px 5px rgb(250, 199, 19);
	box-shadow: 0px 0px 5px rgb(250, 199, 19);
}

.rotate-deg-minus-1 {
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
}

.rotate-deg-minus1 {
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
}

.rotate-deg-minus-2 {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
}

.rotate-deg-minus2 {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
}

.rotate-deg-minus-3 {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
}

.rotate-deg-minus3 {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
}

.rotate-deg-minus-4 {
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
}

.rotate-deg-minus4 {
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
}

.rotate-deg-minus-5 {
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}

.rotate-deg-minus5 {
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
}

.rotate-deg-minus-6 {
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
}

.rotate-deg-minus6 {
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
}

.rotate-deg-minus-7 {
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
}

.rotate-deg-minus7 {
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
}

.feedback-ok {
	padding: 15px;
	color: green;
	font-weight: bold;
	position: relative;
	z-index: 99;
}

.feedback-ko {
	padding: 15px;
	color: red;
	font-weight: bold;
	position: relative;
	z-index: 99;
}

#header {
	background-color: rgb(0, 175, 202);
	box-shadow: 0px 4px 8px #000000;
	-moz-box-shadow: 0px 4px 8px #000000;
	-webkit-box-shadow: 0px 4px 8px #000000;
}

#header-image {
	display: table-cell;
}

#header-image img {
	margin-top: 3px;
	border-style: solid;
	border-width: 0px 2px 0px 0px;
	border-color: rgb(250, 199, 19);
}

#header-title {
	width: 100%;
	text-align: right;
	font-size: 20px;
	color: #FFFFFF;
	
	padding-left: 40px;
	padding-bottom: 10px;
	display: table-cell;
}

#content {
	width: 1190px;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
	clear: both;
}

#display-photo-standard {
	display:none;
	position: absolute;
	z-index: 10;
	width: 100%;
	margin-top: 10px;
	
	-webkit-transform: rotate(-0deg);
	-moz-transform: rotate(-0deg);
}

#display-photo-standard-content {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;

	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	
	box-shadow: 0px 4px 8px #000000;
	-moz-box-shadow: 0px 4px 8px #000000;
	-webkit-box-shadow: 0px 4px 8px #000000;

	background-color: #000000;
}

#display-photo-standard-content-header span {
	color: #FFFFFF;
}

#display-photo-standard-content-header-prev {
	cursor: pointer;
	margin: 5px;
	float: left;
	
  border-left: 26px solid #FFFFFF;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;	
}

#display-photo-standard-content-header-prev-nothing {
	margin: 5px;
	float: left;
	
  border-left: 26px solid rgb(0, 175, 202);
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;	
}

#display-photo-standard-content-header-prev:hover {
	border-left: 26px solid  rgb(250, 199, 19);
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
}

#display-photo-standard-content-header-next {
	cursor: pointer;
	margin: 5px;
	float: left;
	
  border-right: 26px solid #FFFFFF;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
}

#display-photo-standard-content-header-next-nothing {
	margin: 5px;
	float: left;
	
  border-right: 26px solid rgb(0, 175, 202);
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
}

#display-photo-standard-content-header-next:hover {
	border-right: 26px solid  rgb(250, 199, 19);
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
}

#display-photo-standard-content-header-close {
	cursor: pointer;
	float: left;
	margin: 5px 0px 0px 1095px;
	
	width: 26px;
	height: 26px;
	background-color: #FFFFFF;
}

#display-photo-standard-content-header-close:hover {
	background-color: rgb(250, 199, 19);
}

#display-photo-standard-content-img {
	clear: both;
	text-align: center;
	background-color: #000000;
	padding-top: 6px;
	cursor: pointer;
}

#display-photo-standard-content-title {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #FFFFFF;
	font-size: 16px;
}

#display-photo-standard-content-description {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 16px;
  text-align: justify;
	padding: 10px;
}

#checkbox-label {
	background-color: #FFFFFF;
	padding: 5px;  
  font-size: 15px;  
    
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: rgb(0, 175, 202);
	
}

#form-error {
	padding: 15px;
	font-weight: bold;
	color: red;
	clear: both;
}

#footer {
	clear: both;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
}

#footer-information-email {
	margin-top: 15px;
	padding: 5px 0px 10px 0px;
	color: #FFFFFF;
	
	background-color: rgb(0, 175, 202);
	box-shadow: 0px 4px 8px #000000;
	-moz-box-shadow: 0px 4px 8px #000000;
	-webkit-box-shadow: 0px 4px 8px #000000;
}

#footer-information-new-email {
	display: none;
	margin-top: 10px;
}

#footer-information-new-email-return {
	margin-top: 10px;	
}

#footer-2 {
	margin-top: 15px;
}

#app-message {
	display: none;
	
	position: absolute;
	z-index: 99;
	
	width: 1200px;
	margin-left: auto;
	margin-right: auto;

	padding: 5px;

	border-style: solid;
	border-width: 5px;
	border-color: #FFFFFF;
	
	box-shadow: 0px 4px 8px #000000;
	-moz-box-shadow: 0px 4px 8px #000000;
	-webkit-box-shadow: 0px 4px 8px #000000;

	background-color: #000000;
	color: #FFFFFF;
	
	cursor: pointer;
}